/* Credit to QuickCodingTuts for the neon sign animation: https://www.youtube.com/watch?v=GELPIZonh_w */

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../assets/footer_lodyas.png);
}

.home-header {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  line-height: 5.5rem;
  text-align: center;
  letter-spacing: 4px;
  font-variant: small-caps;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.home-h1 {
  font-size: 4rem;
  font-weight: 400;
}

.home-p {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.flicker {
  animation: flicker 500ms linear;
}

.delay1 {
  animation-delay: 0.8s;
}

.delay2 {
  animation-delay: 1.4s;
}

.delay3 {
  animation-delay: 1.8s;
}

.delay4 {
  animation-delay: 0.4s;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-nav {
  color: #fff;
  text-shadow: none;
}

.social {
  display: flex;
}

.social-img {
  width: 4rem;
  height: 4rem;
}

.contact {
  margin-top: 1rem;
}

.contact-link {
  font-size: 2rem;
}
