.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  background-image: linear-gradient(#333 0%, #888 40%, #7393B3 70%, #6495ED 100%)
}

.home-header {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  line-height: 5.5rem;
  text-align: center;
  transition: transform 1s;
}

.home-header:hover {
  transform: rotateX(360deg);
}

.home-h1 {
  font-size: 4rem;
  font-weight: 700;
}

.home-p {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.blue-shadow {
  text-shadow: 3px 0 0 #0000FF, 0 -1px 0 #0000FF, 0 1px 0 #0000FF, -1px 0 0 #0000FF;
}
