:root,
body,
#root,
#root > * {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

main {
  padding: 5vw;
}

a {
  margin: 1rem;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 390px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 12px;
  }
}
