.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  background-color: #555;
}

.Projects > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Projects h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.Projects p {
  font-style: italic;
  text-align: center;
}

.project-container {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

.project-nav {
  color: #6495ed;
}
